<ion-content>
	<img src="./assets/imgs/logo.png" class="logo"/>
	<section class="login-wrapper" #loginWrapper>
		<form #loginForm="ngForm" novalidate (ngSubmit)="login()">
			<ion-item>
				<ion-input name="mobile" required minlength="11" maxlength="11" pattern="^1[3|4|5|8][0-9]{9}$" type="tel" [(ngModel)]="mobile" placeholder="请输入手机号" clearInput></ion-input>
			</ion-item>
			<ion-title class="error">
				<ion-label *ngIf="(loginForm.controls.mobile?.touched||loginForm.submitted)&&loginForm.controls.mobile?.errors?.required">请输入手机号</ion-label>
				<ion-label *ngIf="(loginForm.controls.mobile?.touched||loginForm.submitted)&&(loginForm.controls.mobile?.errors&&!loginForm.controls.mobile?.errors?.required)">请输入正确的手机号</ion-label>
			</ion-title>
			<ion-item class="code">
				<ion-input name="code" required minlength="4" maxlength="4" type="number" [(ngModel)]="code" placeholder="请输入验证码" clearInput></ion-input>
				<a dis class="get-code" [ngClass]="{'disabled': loginForm?.controls?.mobile?.invalid}" ion-button  item-end (click)="getCode()">{{codeTxt}}</a>
			</ion-item>
			<ion-title class="error">
				<ion-label *ngIf="(loginForm.controls.code?.touched||loginForm.submitted)&&loginForm.controls.code?.errors?.required">请输验证码</ion-label>
				<ion-label *ngIf="(loginForm.controls.code?.touched||loginForm.submitted)&&(loginForm.controls.code?.errors&&!loginForm.controls.code?.errors?.required)">验证码输入错误</ion-label>
			</ion-title>
			<button class="login" type="submit"  [disabled] = "loginForm.invalid" ion-button block >立即登录</button>
			<p class="agreement">已阅读并同意<a (tap)="agreement()">《用户协议》</a></p>
		</form>
	</section>
</ion-content>
