page-hello {
	.scroll-content{background-color: #fff;overflow: hidden;
		img{width:100%;}
		.slide-zoom{text-align:center;}
		.button.submit{width:200px;display: inline-block; position: absolute;bottom:6rem;left:50%;margin-left:-100px;}
	}
}
