<ion-header>
	<ion-navbar>
		<ion-title>付款</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-item class="select-card" (tap)="selectCreditCard()" *ngIf="creditCard">
		<ion-avatar item-start="item-start">
			<i class="iconfont" [ngClass]="'icon-'+creditCard?.bank_ename"></i>
		</ion-avatar>
		<h2>{{creditCard?.bank_name}}</h2>
		<p>{{creditCard?.card_no | tailNum}}&nbsp;<i>{{creditCard?.card_type | cardType}}</i>
		</p>
		<ion-icon name="arrow-forward" item-end></ion-icon>
	</ion-item>
	<ion-item class="select-card" (tap)="selectCreditCard()" *ngIf="!creditCard">
		<h1>请选择信用卡</h1>
		<ion-icon name="arrow-forward" item-end></ion-icon>
	</ion-item>

	<ion-item class="select-card" (tap)="selectDepositCard()" *ngIf="depositCard">
		<ion-avatar item-start="item-start">
			<i class="iconfont" [ngClass]="'icon-'+depositCard?.bank_ename"></i>
		</ion-avatar>
		<h2>{{depositCard?.bank_name}}</h2>
		<p>{{depositCard?.card_no | tailNum}}&nbsp;<i>{{depositCard?.card_type | cardType}}</i>
		</p>
		<ion-icon name="arrow-forward" item-end></ion-icon>
	</ion-item>
	<ion-item class="select-card" (tap)="selectDepositCard()" *ngIf="!depositCard">
		<h1>请选择储蓄卡</h1>
		<ion-icon name="arrow-forward" item-end></ion-icon>
	</ion-item>
	<button class="login submit" ion-button block (tap)="affirmPwd()" [disabled]="depositCard==undefined||creditCard==undefined">收款</button>
</ion-content>
