page-repayment {
	.repayment-form{margin-top: 1rem;
		.item{
			.start-date{order:1;}
			.end-date{order:3;text-align: right;}
			.datetime{flex-basis:calc((100% - 3rem) / 2);width:calc((100% - 3rem) / 2);padding-left:0;padding-right: 0;position:relative;}
		}
	}
}
