// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts/';
@import "./assets/css/base";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;





// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/





// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

//Sass Variables
$background-color:#f2f2f2;
$tabs-background:#fff;
$button-ios-border-radius:2.2rem;
$button-md-border-radius:$button-ios-border-radius;
$button-ios-height:4.4rem;
$button-md-height:$button-ios-height;
$button-ios-margin:0;
$button-md-margin:$button-ios-margin;
$button-ios-font-size:1.8rem;
$button-md-font-size:$button-ios-font-size;
$tabs-ios-tab-font-size:1.2rem;
$toolbar-background:color($colors, primary);
$toolbar-ios-background:color($colors, primary);
$toolbar-md-background:color($colors, primary);
$text-color:color($colors, dark);
$tabs-ios-tab-text-color:#888;
$tabs-md-tab-text-color:$tabs-ios-tab-text-color;
$toolbar-ios-title-font-size:1.8rem;
$action-sheet-ios-button-min-height:auto;
$list-border-color:$border-color;
$tabs-ios-tab-icon-size:24px;
$label-md-text-color:color($colors,dark);

[class^="ion-ios-icon-"]:before, [class*=" ion-ios-icon-"]:before,[class^="ion-md-icon-"]:before, [class*=" ion-md-icon-"]:before{@extend .iconfont;font-size:inherit;}
.ion-ios-icon-repayment-outline:before,.ion-md-icon-repayment-outline:before{content: '\e61c';}
.ion-ios-icon-repayment:before,.ion-md-icon-repayment:before{content: '\e635';}
.ion-ios-icon-payment-outline:before,.ion-md-icon-payment-outline:before{content: '\e706';}
.ion-ios-icon-payment:before,.ion-md-icon-payment:before{content: '\e7dc';}
.ion-ios-icon-share-outline:before,.ion-md-icon-share-outline:before{content: '\e607';}
.ion-ios-icon-share:before,.ion-md-icon-share:before{content: '\e62b';}


.item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{box-shadow:none; }
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  box-shadow: none !important;
}
.list-md > .item-block:first-child{border-top:1px solid $border-color}
.list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block{border-bottom:1px solid $border-color}

html{font-size:10px !important;}
.hint{padding:2.5rem;
	.toolbar-title{color:#999;font-weight:normal;font-size:1.4rem;text-align: left;line-height:2rem;white-space:normal;overflow: visible;}
}

.header{
	.iconfont{color:#fff;font-size:2.4rem;margin-right: 0.5rem;}
	.select{position: relative;}
	.datetime{opacity:0;position: absolute;top:-5px;right:5px}
}
.content{
	.icon{color:color($colors,icon)}
	.card{
		&.full{width:100%;margin:1.2rem 0;box-shadow: none;border-top:1px solid $border-color;border-bottom:1px solid $border-color;border-radius:0;}
	}
	.button.disabled{cursor: default;opacity: .4;pointer-events: none;}
	.button-ios-light{color:color($colors,primary);}
	.button-md-light{color:color($colors,primary);}
	.button-block.submit{max-width:calc(100% - 5rem);margin-left:2.5rem;}
	.error .toolbar-title-ios,.error .toolbar-title-md{color:color($colors,danger);font-size:1.2rem;text-align:left;}
}
.tabs{
	.tab-button-icon{line-height:26px;}
	.tab-button-text{line-height:2.2rem;font-size: 1rem;}
}
