page-payment {
	.amount-wrapper{background-color: #fff;border-bottom: 1px solid $border-color;
		.toolbar-title{color:color($colors, dark);font-size:1.6rem;font-weight:normal;line-height:6rem;}
		.input{font-size:4.2rem;
			input{line-height:5.5rem;text-align: center;padding: 0 3rem}
		}
	}
	.submit{margin-top:8rem;}
}
.channel-container{
	.action-sheet-container{padding:0;
		.action-sheet-group{border-radius: 0;margin:0;background-color: #fff;max-height:22.9rem;overflow-y:auto;}
		.action-sheet-group-cancel{border-top:1px solid $border-color;}
		.action-sheet-button{line-height:3.6rem;padding:0;}
	}
}
